<%= form_for :portfolio do |p| %>
    <label>Name: </label><br/><%= p.text_field :name, placeholder: "Enter a name for your Portfolio" %><br/><br/>
    <label>Header: </label><br/><%= p.text_field :header, placeholder: "Create a header for your viewers"%><br/><br/>
    <label>Describe your Portfolio: </label><br/><%= p.text_area :description, placeholder: "Portfolio Description" %><br/><br/>
    <label>Choose a category:<br/> </label><%= p.text_field :category %><br/><br/>
    <%= p.submit "Create Portfolio"%>
<% end %>